<div class="container">
  <p>page: {{ page }}</p>
  <p>patientInfo: {{ patientInfo | json }}</p>
  <p>spineDescripton: {{ spineDescription | json }}</p>

  <div class="row register-bottom-line">
    <div class="col-12 col-sm-6">
      <h2>Register Patient</h2>
    </div>
    <div class="col-12 col-sm-6 align-self-end">
      <div class="d-flex justify-content-end">
        <span>Date of visit: </span>
        <span>{{ today | date }}</span>
      </div>
    </div>
  </div>
  <app-patient-info *ngIf="page == 1"></app-patient-info>
  <app-spine-prescription *ngIf="page == 2"></app-spine-prescription>
  <app-comment *ngIf="page == 3"></app-comment>
  <app-body-measurement *ngIf="page == 4"></app-body-measurement>
</div>

  <!--
  <p>patientForm.value: {{patientForm.value | json}}</p>
  <p>formErrors: {{formErrors | json}}</p>
  <p>patientForm.valid: {{patientForm.valid}}</p>
  -->
<!-- 
<div class="container ict-register-container">

  <div class="row">
    <form class="col-12" novalidate [formGroup]="patientForm" (ngSubmit)="submitPatient()" *ngIf=!(showPatientInfo)>
      <div class="row">
        
        <div class="col-12 col-md-12 ict-register-title">
          <div class="col-6 col-md-6">
            <h3>Register Patients</h3>
          </div>
          <div class="col-6 col-md-6">
            <span>Date of visit</span>
            <span>06, August, 2018</span>
          </div>
        </div> 

        <div class="col-12 col-md-6 boarder-solid">
          <div class="form-group row">
            <div class="col-12 col-sm-6">
              <h4>Patient Information</h4>
            </div>
          </div>

          <div class="ict-register-1">
              <div class="form-group row">
                <div class="col-12 col-sm-6">
                  <label for="firstname" class="col-12 col-sm-6 col-form-label">ID</label>
                  <input type="text" class="form-control {{(formErrors.firstname) ? 'is-invalid' : ''}}" id="fistrname" name="fistrname" formControlName="firstname">
                  <div class="invalid-feedback">{{formErrors.firstname}}</div>
                </div>
                <div class="col-12 col-sm-6">
                  <label for="lastname" class="col-12 col-sm-6 col-form-label">Last Name</label>
                  <input type="text" class="form-control {{(formErrors.lastname) ? 'is-invalid' : ''}}" id="lastname" name="lastname" formControlName="lastname">
                  <div class="invalid-feedback">{{formErrors.lastname}}</div>
                </div>
              </div>
      
              <div class="form-group row">
                <div class="col-12 col-sm-6">
                  <label for="birthday" class="col-12 col-sm-2 col-form-label">Birthday</label>
                  <input type="date" class="form-control {{(formErrors.birthday) ? 'is-invalid' : ''}}" id="birthday" name="birthday" formControlName="birthday">
                  <div class="invalid-feedback">{{formErrors.birthday}}</div>
                </div>

                <div class="col-12 col-sm-6">
                  <label for="sex" class="col-12 col-sm-2 col-form-label">Sex</label>
                  <select class="form-control {{(formErrors.sex) ? 'is-invalid' : ''}}" id="sex" name="sex" formControlName="sex">
                    <option *ngFor="let sex of sexes" [ngValue]="sex">{{sex}}</option>
                  </select>
                  <div class="invalid-feedback">{{formErrors.sex}}</div>
                </div>
              </div>
          </div>
        </div>
        

        <div class="col-12 col-md-6 boarder-solid">
          <h4>Patient Body Measurements</h4>
          <div class="ict-register-2">
            <div class="col-lg-6 col-md-6">
              <div class="form-group row">
                <div class="col-12 col-sm-12">
                  <label for="height" class="col-12 col-sm-12 col-form-label">Height</label>
                  <input type="text" class="form-control {{(formErrors.height) ? 'is-invalid' : ''}}" id="height" name="height"
                    placeholder="cm" formControlName="height" pattern="[0-9]*">
                  <div class="invalid-feedback">{{formErrors.height}}</div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12 col-sm-12">
                  <label for="bust" class="col-12 col-sm-12 col-form-label">Bust</label>
                  <input type="text" class="form-control {{(formErrors.bust) ? 'is-invalid' : ''}}" id="bust" name="bust"
                    placeholder="cm" formControlName="bust" pattern="[0-9]*">
                  <div class="invalid-feedback">{{formErrors.bust}}</div>
                </div>
              </div>
      
              <div class="form-group row">
                <div class="col-12 col-sm-12">
                  <label for="waist" class="col-12 col-sm-12 col-form-label">Waist</label>
                  <input type="text" class="form-control {{(formErrors.waist) ? 'is-invalid' : ''}}" id="waist" name="waist"
                    placeholder="cm" formControlName="waist" pattern="[0-9]*">
                  <div class="invalid-feedback">{{formErrors.waist}}</div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                  <div class="col-12 col-sm-12">
                    <label for="weight" class="col-12 col-sm-12 col-form-label">Weight</label>

                    <input type="text" class="form-control {{(formErrors.weight) ? 'is-invalid' : ''}}" id="weight" name="weight"
                      placeholder="kg" formControlName="weight" pattern="[0-9]*">
                      <div class="invalid-feedback">{{formErrors.weight}}</div>
                  </div>
                </div>
        
                <div class="form-group row">
                  <div class="col-12 col-sm-12">
                    <label for="shoulder" class="col-12 col-sm-12 col-form-label">Shoulder</label>
                    <input type="text" class="form-control {{(formErrors.shoulder) ? 'is-invalid' : ''}}" id="shoulder" name="shoulder"
                      placeholder="cm" formControlName="shoulder" pattern="[0-9]*">
                    <div class="invalid-feedback">{{formErrors.shoulder}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-12 col-sm-12">
                    <label for="hip" class="col-12 col-sm-12 col-form-label">Hip</label>
                    <input type="text" class="form-control {{(formErrors.hip) ? 'is-invalid' : ''}}" id="hip" name="hip" 
                      placeholder="cm" formControlName="hip" pattern="[0-9]*">
                    <div class="invalid-feedback">{{formErrors.hip}}</div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-12 ict-register-3">
          <h4 class="mb-4">Spine Prescription</h4>

          <div class="form-group row">
            <div class="col-12 col-sm-1">
              <label for="type" class="col-form-label">Type</label>
              <select class="form-control" id="type" name="type" formControlName="type">
                <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>            
              </select>
            </div>
            
            <div class="col-12 col-sm-2">
              <label for="risser" class="col-form-label">Risser sign</label>
              <select class="form-control" id="risser" name="risser" formControlName="risser">
                <option *ngFor="let risser of rissers" [ngValue]="risser">{{risser}}</option>            
              </select>
            </div>

            <div class="col-12 col-sm-3">
              <label for="risser" class="col-form-label">Lumber Spine Modifier</label>
              <select class="form-control" id="risser" name="risser" formControlName="risser">
                <option *ngFor="let risser of rissers" [ngValue]="risser">{{risser}}</option>            
              </select>
            </div>

            <div class="col-12 col-sm-3">
              <label for="risser" class="col-form-label">Sagittal Thoracic Modifier</label>
              <select class="form-control" id="risser" name="risser" formControlName="risser">
                <option *ngFor="let risser of rissers" [ngValue]="risser">{{risser}}</option>            
              </select>
            </div>

          </div>

          <div class="form-group row">
            <div class="col-4 col-sm-2 col-md-2">
              <label class="col-12 col-sm-12 col-md-2 col-form-label">Curve1</label>
              <select class="form-control" id="curveStart1" name="curveStart1" formControlName="curveStart1">
                <option value="" disabled>Above</option>
                <option *ngFor="let curveStart1 of vertebralColumns" [ngValue]="curveStart1">{{curveStart1}}</option>
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control {{(formErrors.cobbAng1) ? 'is-invalid' : ''}}" id="cobbAngle1" name="cobbAngle1"
                placeholder="Cobb angle" formControlName="cobbAng1" pattern="[0-9]*">
              <div class="invalid-feedback">{{formErrors.cobbAng1}}</div>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="curveEnd1" name="curveEnd1" formControlName="curveEnd1">
                <option value="" disabled>Below</option>
                <option *ngFor="let curveEnd1 of vertebralColumns" [ngValue]="curveEnd1">{{curveEnd1}}</option>
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="direction1" name="direction1" formControlName="direction1">
                <option value="" disabled>Direction</option>
                <option *ngFor="let direction1 of directions" [ngValue]="direction1">{{direction1}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-4 col-sm-2 col-md-2">
              <label class="col-12 col-sm-12 col-md-2 col-form-label">Curve2</label>
              <select class="form-control" id="curveStart2" name="curveStart2">
                <option value="">Above</option>
                <option *ngFor="let curveStart2 of vertebralColumns" [ngValue]="curveStart2">{{curveStart2}}</option>            
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control" id="cobbAng2"  name="cobbAng2"
                placeholder="Cobb angle" formControlName="cobbAng2" pattern="[0-9]*">
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="curveEnd2" name="curveEnd2">
                <option value="">Below</option>
                <option *ngFor="let curveEnd2 of vertebralColumns" [ngValue]="curveEnd2">{{curveEnd2}}</option>
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="direction2" name="direction2" formControlName="direction2">
                <option value="">Direction</option>
                <option *ngFor="let direction2 of directions" [ngValue]="direction2">{{direction2}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-4 col-sm-2 col-md-2">
              <label class="col-12 col-sm-12 col-md-2 col-form-label">Curve3</label>
              <select class="form-control" id="curveStart3" name="curveStart3">
                <option value="">Above</option>
                <option *ngFor="let curveStart3 of vertebralColumns" [ngValue]="curveStart3">{{curveStart3}}</option>            
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control" id="cobbAng3" name="cobbAng3"
                placeholder="Cobb angle" formControlName="cobbAng3" pattern="[0-9]*">
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="curveEnd3" name="curveEnd3">
                <option value="">Below</option>
                <option *ngFor="let curveEnd3 of vertebralColumns" [ngValue]="curveEnd3">{{curveEnd3}}</option>
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="direction3" name="direction3" formControlName="direction3">
                <option value="">Direction</option>
                <option *ngFor="let direction3 of directions" [ngValue]="direction3">{{direction3}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="col-12 ict-register-4">
          <div class="form-group row">
            <div class="col-12 col-sm-6">
                <h4>Comments</h4>
                <label for="comment" class="col-12 col-sm-2 col-form-label">Comment</label>
            </div>

            <div class="col-12 col-sm-6">
              <h4>X-ray Image</h4>
              <label for="xRayFile" class="col-12 col-sm-2 col-form-label">X-ray file</label>
              <input type="file" class="form-control-file" id="xRayFile" name="xRayFile" formControlName="xRayFile">
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group row mt-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn {{patientForm.valid ? 'btn-primary' : 'btn-secondary'}}"
                id="submitPatient" [disabled]="patientForm.invalid">
                  SAVE
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="showPatientInfo">
      <h3>New patient information</h3>
      <p>First Name: {{newPatient.firstname}}</p>
      <p>Last Name: {{newPatient.lastname}}</p>
      <p>Birthday: {{newPatient.birthday}}</p>
      <p>Sex: {{newPatient.sex}}</p>

      <p>Patient Type: {{newPatient.spineInfos[0].type}}</p>
      <p>Risser sign: {{newPatient.spineInfos[0].risser}}</p>
        
      <p>Curve1 starts: {{newPatient.spineInfos[0].CurveStart1}}</p>
      <p>Cobb angle: {{newPatient.spineInfos[0].cobbAng1}}</p>
      <p>Curve1 ends: {{newPatient.spineInfos[0].CurveEnd1}}</p>
      <p>Direction: {{newPatient.spineInfos[0].direction1}}</p>

      <p>Curve1 starts: {{newPatient.spineInfos[0].curveStart2}}</p>
      <p>Cobb angle: {{newPatient.spineInfos[0].cobbAng2}}</p>
      <p>Curve2 ends: {{newPatient.spineInfos[0].curveEnd2}}</p>
      <p>Direction: {{newPatient.spineInfos[0].direction2}}</p>
        
      <p>Curve1 starts: {{newPatient.spineInfos[0].curveStart3}}</p>
      <p>Cobb angle: {{newPatient.spineInfos[0].cobbAng3}}</p>
      <p>Curve3 ends: {{newPatient.spineInfos[0].curveEnd3}}</p>
      <p>Direction: {{newPatient.spineInfos[0].direction3}}</p>
        
      <p>Height: {{newPatient.bodyMeasurements[0].height}}</p>
      <p>Weight: {{newPatient.bodyMeasurements[0].weight}}</p>
      <p>Shoulder: {{newPatient.bodyMeasurements[0].shoulder}}</p>
      <p>Bust: {{newPatient.bodyMeasurements[0].bust}}</p>
      <p>Waitst: {{newPatient.bodyMeasurements[0].waist}}</p>
      <p>Hip: {{newPatient.bodyMeasurements[0].hip}}</p>
      
      <p>X-ray file: {{newPatient.xRayFiles}}</p>
      <p>First day of visiting: {{newPatient.visitedDays}}</p>


    </div>

  </div>
</div> -->
<!-- container -->