<div class="container">
  <!-- <p>page: {{ page }}</p>
  <p>patientInfo: {{ patientInfo | json }}</p>
  <p>spinePrescription: {{ spinePrescription | json }}</p>
  <p>diagnosis: {{ diagnosis | json }}</p>
  <p>bodyMeasurement: {{ bodyMeasurement | json }}</p>
  <p>page1Position: {{page1Position}}</p>
  <p>page2Position: {{page2Position}}</p>
  <p>page3Position: {{page3Position}}</p>
  <p>page4Position: {{page4Position}}</p>
  <p>page5Position: {{page5Position}}</p> -->
  <div class="row register-bottom-line">
    <div class="col-12 col-sm-6">
      <h2>Register Patient</h2>
    </div>
    <div class="col-12 col-sm-6 align-self-end">
      <div class="d-flex justify-content-end">
        <span>Date of visit</span>
        <span>{{ today | date }}</span>
      </div>
    </div>
  </div>

  <app-patient-info *ngIf="page === 1"
                    [patientInfo]="patientInfo"></app-patient-info>
  <app-spine-prescription *ngIf="page === 2"
                    [spinePrescription]="spinePrescription"></app-spine-prescription>
  <app-comment *ngIf="page === 3"
               [diagnosis]="diagnosis"></app-comment>
  <app-body-measurement *ngIf="page === 4"
                        [bodyMeasurement]="bodyMeasurement"></app-body-measurement>
  <app-complete-register *ngIf="page === 5"
                        [patientInfo]="patientInfo"
                        [spinePrescription]="spinePrescription"
                        [diagnosis]="diagnosis"
                        [bodyMeasurement]="bodyMeasurement"></app-complete-register>
</div>