.register-bottom{
    &-line{
        border-bottom: 5px solid #f0f0f0;
        padding-top: 60px;
        padding-bottom: 16px;

        &:nth-child(1){
            .col-sm-6{
                padding: 0px;
                h2{
                    font-size: 24px;
                    margin:0px;
                }
            }
        }

        .align-self-end{
            .d-flex{
                span:nth-child(1){
                    font-size: 16px;
                    font-weight: 600;
                    color: #2a2c2e;
                    padding-right: 10px;
                }
                span:nth-child(2){
                    font-size: 16px;
                    font-weight: 400;   
                }
            }
        }
    }
}


.vntc-button{
    &-fill{
        background-color:#0275d8;
        border:1px solid #0275d8;
    }
    &-outline{
        color:#0275d8;
        border:1px solid #0275d8;
        &:hover{
            color: #FFFFFF;
            border:1px solid #0275d8;
            background-color:#0275d8;
        }
    }
}
