<div class="container">
  <div class="row">
    <form class="col-12">
      <div class="row">
        <div class="col-12 col-md-8 boarder-solid">
          
          <div class="form-group row">
            <div class="col-12 col-sm-6"><h4>Patient information</h4></div>
            
            <label for="patientIdIn" class="col-12 col-sm-2 col-form-label">Patient ID</label>
            <div class="col-12 col-sm-4">
              <input type="text" class="form-control" id="patientIdIn" name="patientIdIn" placeholder="Patient ID">
            </div>
          </div>
          <div class="form-group row">
            <label for="registerBirthdayIn" class="col-12 col-sm-2 col-form-label">Birthday</label>
            <!--<div class="input-group col-9">-->
            <div class="col-12 col-sm-4">
              <input type="date" class="form-control" id="registerBirthdayIn" name="registerBirthdayIn" placeholder="YYMMDD">
            </div>
            <label for="sexIn" class="col-12 col-sm-2 col-form-label">Sex</label>
            <div class="col-12 col-sm-4">
              <select class="form-control algin-item-center" id="sexIn" name="sexIn">
                <option value="sex">Sex</option>
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="registerHeightIn" class="col-12 col-sm-2 col-form-label">Height</label>
            <div class="col-12 col-sm-4">
              <input type="text" class="form-control" id="registerHeightIn" name="registerHeightIn" placeholder="cm">
            </div>
            <label for="registerWeightIn" class="col-12 col-sm-2 col-form-label">Weight</label>
            <div class="col-12 col-sm-4">
              <input type="text" class="form-control" id="registerWeightIn" name="registerWeightIn" placeholder="kg">
            </div>
          </div>
          <div class="form-group row">
            <label for="registerTypeIn" class="col-12 col-sm-2 col-form-label">Type</label>
            <div class="col-12 col-sm-4">
              <select class="form-control" id="registerTypeIn" name="registerTypeIn">
                <option value="type">Type</option>
                <option value="MT">MT</option>
                <option value="TL">TL</option>
                <option value="DT">DT</option>
              </select>
              <!--<input type="text" class="form-control" id="registerTypeIn" name="registerTypeIn" placeholder="Type">-->
            </div>
            <label for="registerRisserIn" class="col-12 col-sm-2 col-form-label">Risser sign</label>
            <div class="col-12 col-sm-4">
              <select class="form-control" id="registerRisserIn" name="registerRisserIn">
                <option value="risser">Risser</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <!--<input type="text" class="form-control" id="registerLisserIn" name="registerLisserIn" placeholder="Lisser">-->
            </div>
          </div>
          <div class="form-group row">
            <label for="apex1" class="col-12 col-sm-12 col-md-2 col-form-label">Apex1</label>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnLIn1" name="registerSnLIn1"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
              <!--<input type="text" class="form-control" id="registerSnLIn1" name="registerSnLIn1" placeholder="SN">-->
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control" id="registerCobbAngleIn1" name="registerCobbAngleIn1" placeholder="Cobb angle">
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnRIn1" name="registerSnRIn1"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
              <!--<input type="text" class="form-control" id="registerSnRIn1" name="registerSnRIn1" placeholder="SN">-->
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="registerDirectionIn1" name="registerDirectionIn1">
                <option value="">direction</option>
                <option value="RIGHT">RIGHT</option>
                <option value="LEFT">LEFT</option>
              </select>
              <!--<input type="text" class="form-control" id="registerDirectionIn1" name="registerDirectionIn1" placeholder="Direction">-->
            </div>
          </div>
          <div class="form-group row">
            <label for="apex2" class="col-12 col-sm-12 col-md-2 col-form-label">Apex2</label>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnLIn2" name="registerSnLIn2"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
              <!--<input type="text" class="form-control" id="registerSnLIn1" name="registerSnLIn1" placeholder="SN">-->
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control" id="registerCobbAngleIn2" name="registerCobbAngleIn2" placeholder="Cobb angle">
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnRIn2" name="registerSnRIn2"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
              <!--<input type="text" class="form-control" id="registerSnRIn1" name="registerSnRIn1" placeholder="SN">-->
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="registerDirectionIn2" name="registerDirectionIn2">
                <option value="">direction</option>
                <option value="RIGHT">RIGHT</option>
                <option value="LEFT">LEFT</option>
              </select>
              <!--<input type="text" class="form-control" id="registerDirectionIn1" name="registerDirectionIn1" placeholder="Direction">-->
            </div>
          </div>
          <div class="form-group row">
            <label for="apex1" class="col-12 col-sm-12 col-md-2 col-form-label">Apex3</label>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnLIn3" name="registerSnLIn3"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
              <!--<input type="text" class="form-control" id="registerSnLIn1" name="registerSnLIn1" placeholder="SN">-->
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <input type="text" class="form-control" id="registerCobbAngleIn3" name="registerCobbAngleIn3" placeholder="Cobb angle">
            </div>
            <div class="col-4 col-sm-2 col-md-2">
              <select class="form-control" id="registerSnRIn3" name="registerSnRIn3"><option value="">SN</option>
                <option value="T1">T1</option>
                <option value="T2">T2</option>
                <option value="T3">T3</option>
                <option value="T4">T4</option>
                <option value="T5">T5</option>
                <option value="T6">T6</option>
                <option value="T7">T7</option>
                <option value="T8">T8</option>
                <option value="T9">T9</option>
                <option value="T10">T10</option>
                <option value="T11">T11</option>
                <option value="T12">T12</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>              
              </select>
            </div>
            <div class="col-8 col-sm-4 col-md-3">
              <select class="form-control" id="registerDirectionIn3" name="registerDirectionIn3">
                <option value="">Direction</option>
                <option value="RIGHT">RIGHT</option>
                <option value="LEFT">LEFT</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="firstVisit" class="col-12 col-sm-2 col-form-label">First day of visit</label>
            <div class="col-12 col-sm-4">
              <input type="date" class="form-control" id="firstVisitIn" name="firstVisitIn" placeholder="YYMMDD">
            </div>
          </div>
          <div class="form-group row">
            <label for="xRayFile" class="col-12 col-sm-2 col-form-label">X-ray file</label>
            <div class="col-12 col-sm-6">
              <input type="file" class="form-control-file" id="xRayFileIn" name="xRayFileIn" placeholder="Upload">
            </div>
          </div>
          <div class="form-group row">
            <label for="3dScanFile" class="col-12 col-sm-2 col-form-label">3D scan file</label>
            <div class="col-12 col-sm-6">
              <input type="file" class="form-control-file" id="3dScanFileIn" name="3dScanFileIn" placeholder="Upload">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 boarder-solid">
          <h4 class="mb-4">Patient body information</h4>
          <div class="form-group row">
            <label for="spIn" class="col-12 col-sm-3 col-form-label">SP</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="spIn" name="spIn" placeholder="cm">
            </div>
          </div>
          <div class="form-group row">
            <label for="bIn" class="col-12 col-sm-3 col-form-label">B</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="bIn" name="bIn" placeholder="cm">
            </div>
          </div>
          <div class="form-group row">
            <label for="wIn" class="col-12 col-sm-3 col-form-label">W</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="wIn" name="wIn" placeholder="cm">
            </div>
          </div>
          <div class="form-group row">
            <label for="hIn" class="col-12 col-sm-3 col-form-label">H</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="hIn" name="hIn" placeholder="cm">
            </div>
          </div>
          <div class="form-group row">
            <label for="lIn" class="col-12 col-sm-3 col-form-label">L</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="lIn" name="lIn" placeholder="cm">
            </div>
          </div>
          <div class="form-group row">
            <label for="lhIn" class="col-12 col-sm-3 col-form-label">LH</label>
            <div class="col-12 col-sm-9">
              <input type="text" class="form-control" id="lhIn" name="lhIn" placeholder="cm">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group row mt-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">
                SAVE
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div><!-- container -->