<div class="container">
  <!--
  <p>contactForm.value: {{contactForm.value | json}}</p>
  <p>contactFormErrors: {{contactFormErrors | json}}</p>
  <p>contactForm.valid: {{contactForm.valid}}</p>
  -->

  <div *ngIf="loggedUser">
    <div class="row">
      <div class="col-12 text-right">

        <ng-template #changePasswordModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Change passowrd</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group row align-items-center mb-3">
                <label for="newPassword" class="col-4 col-form-label">New password</label>
                <div class="col-8">
                  <input type="password" class="form-control" id="newPassword">
                </div>
              </div>
              <div class="form-group row align-items-center mb-3">
                <label for="rePassword" class="col-4 col-form-label">Confirm password</label>
                <div class="col-8">
                  <input type="password" class="form-control" id="rePassword">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer text-center">
            <div class="col-md justify-content-center">
              <button type="submit" class="btn btn-primary" (click)="c('Close click')">Save</button>
            </div>
          </div>
        </ng-template>
        <!-- changePasswordModal -->


        <div class="form-group row align-items-center mb-3">
          <label for="username" class="col-12 offset-sm-2 col-sm-2 col-form-label">User Name</label>
          <div class="col-12 col-sm-4">
            <input type="text" class="form-control" id="username" placeholder="{{loggedUser.username}}" disabled>
          </div>
          <div class="col-12 col-sm-2">
            <button type="submit" class="btn btn-primary" id="submitChangePwd" (click)="open(changePasswordModal)">
              Change password
            </button>
          </div>
        </div>

        <div class="form-group row align-items-center mb-3">
          <label for="firstname" class="col-12 offset-sm-2 col-sm-2 col-form-label">First Name</label>
          <div class="col-12 col-sm-2">
            <input type="text" class="form-control" id="firstname" placeholder={{loggedUser.firstname}} disabled>
          </div>
          <label for="lastname" class="col-12 col-sm-2 col-form-label">Last Name</label>
          <div class="col-12 col-sm-2">
            <input type="text" class="form-control" id="lastname"  placeholder={{loggedUser.lastname}} disabled>
          </div>
        </div>

        <div class="form-group row align-items-center mb-3">
          <label for="type" class="col-12 offset-sm-2 col-sm-2 col-form-label">Organization</label>
          <div class="col-12 col-sm-2">
            <input id="text" class="form-control" id="type" placeholder={{loggedUser.organization.name}} disabled>
          </div>
          <label for="subject" class="col-12 col-sm-2 col-form-label">Subject</label>
          <div class="col-12 col-sm-2">
            <input id="text" class="form-control" id="subject" placeholder={{loggedUser.subject}} disabled>
          </div>
        </div>

        <div class="form-group row align-items-center mb-3">
          <label for="city" class="col-12 offset-sm-2 col-sm-2 col-form-label">City</label>
          <div class="col-12 col-sm-2">
            <input id="text" class="form-control" id="country" placeholder={{loggedUser.city}} disabled>
          </div>
          <label for="postCode" class="col-12 col-sm-2 col-form-label">Post code</label>
          <div class="col-12 col-sm-2">
            <input id="text" class="form-control" id="postCode" placeholder={{loggedUser.postCode}} disabled>
          </div>
        </div>

        <div class="form-group row align-items-center mb-3">
          <label for="address" class="col-12 offset-sm-2 col-sm-2 col-form-label">Address</label>
          <div class="col-12 col-sm-6">
            <input type="text" class="form-control" id="address" placeholder={{loggedUser.address}} disabled>
          </div>
        </div>

        <form class="col-12 text-right" novalidate [formGroup]="contactForm" (ngSubmit)="submitContact()" *ngIf=!(showMemberInfo)>
          <div class="form-group row align-items-center mb-3">
            <label for="managerName" class="col-12 offset-sm-2 col-sm-2 col-form-label">Manager Name</label>
            <div class="col-12 col-sm-6">
              <input type="text" class="form-control" id="managerName" placeholder={{loggedUser.managerName}} disabled>
            </div>
          </div>

          <div class="form-group row align-items-center mb-3">
            <label for="phoneNum" class="col-12 offset-sm-2 col-sm-2 col-form-label">Phone number</label>
            <div class="col-12 col-sm-2">
              <input type="text" class="form-control {{(contactFormErrors.phoneNum) ? 'is-invalid' : ''}}" id="phoneNum"
                placeholder="{{loggedUser.phoneNum}}" formControlName="phoneNum">
              <div class="invalid-feedback">{{contactFormErrors.phoneNum}}</div>
            </div>
            <label for="mobileNum" class="col-12 col-sm-2 col-form-label">Mobile number</label>
            <div class="col-12 col-sm-2">
              <input type="text" class="form-control {{(contactFormErrors.mobileNum) ? 'is-invalid' : ''}}" id="mobileNum"
                placeholder="{{loggedUser.mobileNum}}" formControlName="mobileNum">
              <div class="invalid-feedback">{{contactFormErrors.mobileNum}}</div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn {{contactForm.valid ? 'btn-primary' : 'btn-secondary'}}" id="submitMember" [disabled]="contactForm.invalid">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div><!-- container -->