<div class="container">
  <div class="row">
    <form class="col-12">
      <div class="row align-items-center mb-3">
        <label for="idIn2" class="col-12 offset-sm-2 col-sm-2 col-form-label">ID</label>
         <div class="col-12 col-sm-6">
            <input type="text" class="form-control" id="idIn2" placeholder="Enter ID">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="passwordIn2" class="col-12 offset-sm-2 col-sm-2 col-form-label">Enter password</label>
         <div class="col-12 col-sm-2">
            <input type="text" class="form-control" class="input-group-addon" id="passwordIn2">
        </div>
        <label for="confirmPasswordIn2" class="col-12 col-sm-2 col-form-label">Confirm password</label>
         <div class="col-12 col-sm-2">
            <input type="text" class="form-control" class="input-group-addon" id="confirmPasswordIn2">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="nameIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Name*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <input type="text" class="form-control" id="nameIn1" name="nameIn1">
        </div>
      </div>
      <div class="row  align-items-center mb-3">
        <label for="subjectIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Subject*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <select type="text" name="subjectIn1" id="subjectIn1" class="form-control">
            <option>가정의학과</option>
            <option>내과</option>
            <option>마취통증의학과</option>
            <option>방사선종양학과</option>
            <option>병리과</option>
            <option>비뇨기과</option>
            <option>산부인과</option>
            <option>성형외과</option>
            <option>소아청소년과</option>
            <option>신경과</option>
            <option>신경외과</option>
            <option>안과</option>
            <option>영상의학과</option>
            <option>예방의학과</option>
            <option>외과</option>
            <option>응급의학과</option>
            <option>이비인후과</option>
            <option>임상약리학과</option>
            <option>재활의학과</option>
            <option>정신건강의학과</option>
            <option>정형외과</option>
            <option>진단검사의학과</option>
            <option>피부가</option>
            <option>흉부외과</option>              
          </select>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="typeIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label">Type*</label>
        <div class="col-12 col-sm-6">
          <select type="text" name="typeIn1" id="typeIn1" class="form-control">
            <option>University</option>
            <option>General</option>
            <option>Normal hospital</option>
            <option>Clinic</option>
            <option>Korean Medicine</option>            
          </select>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="countryIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label">Country*</label>
        <div class="col-12 col-sm-2">
          <select type="text" name="countryIn1" id="countryIn1" class="form-control">
            <option>South Korea</option>
          </select>
        </div>
        <label for="cityIn1" class="col-12 col-sm-2 col-form-label">City*</label>
        <div class="col-12 col-sm-2">
          <select type="text" name="cityIn1" id="cityIn1" class="form-control">
            <option>Seoul</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="locationDetailIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Location1*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <input type="text" class="form-control" name="locationDetailIn1" id="locationDetailIn1">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="locationMoreIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Location2</label>
        <div class="col-12 col-sm-2 align-self-center">
          <input type="text" class="form-control" name="locationMoreIn1" id="locationMoreIn1">
        </div>
        <label for="postalCodeIn1" class="col-12 col-sm-2 col-form-label align-self-center">Postal code</label>
        <div class="col-12 col-sm-2 align-self-center">
          <input type="text" class="form-control" name="postalCodeIn1" id="postalCodeIn1">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="managerNameIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Manager Name*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <input type="text" class="form-control" id="managerNameIn1" name="managerNameIn1">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="phoneNumberIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Phone number*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <input type="text" class="form-control" id="phoneNumberIn1" name="phoneNumberIn1">
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <label for="mobileNumberIn1" class="col-12 offset-sm-2 col-sm-2 col-form-label align-self-center">Mobile number*</label>
        <div class="col-12 col-sm-6 align-self-center">
          <input type="text" class="form-control" id="mobileNumberIn1" name="mobileNumberIn1">
        </div>
      </div>
      <div class="form-group row mb-3">
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary" id="saveMemberMyInfoButton">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div><!-- container -->