<div class="container-fluid">
  <div class="row" *ngIf="organizations">
    <!--
    <p>checkedOrgs: {{checkedOrgs | json}}</p>
    -->
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th><input type="checkbox" name="orgsAll" id="orgsAll"
                [value]="checkedOrgs.checkedAll"
                (change)="checkAllOrgs()" checked></th>
              
              <!--
              <th><input type="checkbox" name="orgsAll" id="orgsAll"></th>
              -->
              <th>Name</th>
              <th>Country</th>
              <th>Type</th>
              <th>Number of patients</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let org of organizations; let i = index">
              <td><input type="checkbox" [value]="org._id"
              (change)="changeCheckedOrgs(i)"
              [checked]="checkedOrgs.checked[i]" checked>
              </td>
              <td>{{org.name}}</td>
              <td>{{org.country}}</td>
              <td>{{org.type}}</td>
              <td>{{org.patients.length}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary" id="filterOrganizations" (click)="filterOrganizations()">
        Filter Patients with Organizations
      </button>
    </div>
  </div>


  <!--
  <p>searchDateStart: {{searchDateStart | date:'yyyy-MM-dd'}}, searchDateEnd: {{searchDateEnd | date:'yyyy-MM-dd'}}</p>
  <p>optionFilterForm.value: {{optionFilterForm.value | json}}</p>
  <p>patientsInOrgs.length: {{patientsInOrgs}}</p>
  -->
  <div class="row form-group orderOption">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="searchPrepend">Between</span>
        </div>
        <input type="date" class="form-control" id="searchDateStart" name="searchDateStart" max="searchDateEnd | date:'yyyy-MM-dd'"
          [ngModel]="searchDateStart | date:'yyyy-MM-dd'" (ngModelChange)="searchDateStart = $event">
        <input type="date" class="form-control" id="searchDateEnd" name="searchDateEnd" max="today | date:'yyyy-MM-dd'"
          [ngModel]="searchDateEnd | date:'yyyy-MM-dd'" (ngModelChange)="searchDateEnd = $event">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="submitDateCondition()">Search</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
      <form novalidate [formGroup]="optionFilterForm" (ngSubmit)="submitOptionFilter()">
        <div class="input-group">

          <select class="form-control" formControlName="sex">
            <option value="">All sex</option>
            <option *ngFor="let sex of sexOptions" [ngValue]="sex">{{sex}}</option>
          </select>

          <select class="form-control" formControlName="patientType">
            <option value="">All patient types</option>
            <option *ngFor="let patientType of patientTypeOptions" [ngValue]="patientType">{{patientType}}</option>
          </select>

          <select class="form-control" formControlName="risser">
            <option value="">All rissers</option>
            <option *ngFor="let risser of risserOptions" [ngValue]="risser">{{risser}}</option>
          </select>

          <select class="form-control" formControlName="stage">
            <option value="">All stages</option>
            <option *ngFor="let stage of stageOptions" [ngValue]="stage">{{stage}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-primary">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- row Order Option -->

  <div class="row listbox-area" *ngIf="patients">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <!--<th><input type="checkbox" name="checkPatient" id="checkPatient"></th>-->
              <th>Organization</th>
              <th>Name</th>
              <th>Birthday</th>
              <th>Sex</th>
              <th>Type</th>
              <th>Risser</th>
              <th>Stage</th>
              <th>Apex1</th>
              <th>Apex2</th>
              <th>Apex3</th>
              <th>Last Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patientsInTable; let i = index; let even = even; let odd = odd"
              [ngClass]="{ odd: odd, even: even }">
              <!--<td><input type="checkbox" [value]="patient"></td>-->
              <td>{{patient.organization.name}}</td>
              <td><a [routerLink]="['/admin/patients', patient._id]" appHighlight>{{patient.firstname}} {{patient.lastname}}</a></td>
              <!--<td>{{patient.firstname}} {{patient.lastname}}</td>-->
              <td>{{patient.birthday | date}}</td>
              <td>{{patient.sex}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].type}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].risser}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].stage}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].curveStart1}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng1}}-{{patient.spineInfos[numSpineInfos[i]-1].curveEnd1}} {{patient.spineInfos[numSpineInfos[i]-1].direction1}}</td>
              <!--
              <td *ngIf="patient.spineInfos[numSpineInfos[i]-1].curveStart2">{{patient.spineInfos[numSpineInfos[i]-1].curveStart2}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng2}}-{{patient.spineInfos[numSpineInfos[i]-1].curveEnd2}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td *ngIf="patient.spineInfos[numSpineInfos[i]-1].curveStart3">{{patient.spineInfos[numSpineInfos[i]-1].curveStart3}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng3}}-{{patient.spineInfos[numSpineInfos[i]-1].curveEnd3}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              -->
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].curveStart2}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng2}}-{{patient.spineInfos[numSpineInfos[i]-1].curveEnd2}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.spineInfos[numSpineInfos[i]-1].curveStart3}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng3}}-{{patient.spineInfos[numSpineInfos[i]-1].curveEnd3}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td *ngIf="numSpineInfos[i] !== 0">{{patient.updatedAt | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
  <div class="row after-table-margin">
    <!--
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block">EDIT</a>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block">REMOVE</a>
    </div>
    -->
    <div class="col-md">
    </div>
    
    <div class="col-12 col-sm-12 col-md-2 float-right">
      {{numPatientsInTable}} / {{numAllPatients}} Patients
    </div> 
  </div>
  
</div><!-- container -->