<div class="container-fluid">
  <div class="row solid-bottom-border">
    <div class="col-6 col-sm-8">
       <h2>Patients List</h2>
    </div>
    <div class="col-6 col-sm-4">
      <button class="btn btn-primary float-right" (click)="open(selectHospitalModal)">
        Select hospital
      </button>
    </div>
  </div><!-- Select hospital -->

  <!--<div id="selectHospitalModal" #content class="modal fade" role="dialog">-->
  <ng-template #selectHospitalModal let-c="close" let-d="dismiss">
    <!--<div class="modal-dialog modal-lg" role="content">
      <div class="modal-content">-->
        <div class="modal-header">
          <h4 class="modal-title">Select a Hospital</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
          <div class="form-group row">
    
            <div class="col-12 col-sm-4 col-lg-3">
              <select class="form-control" id="country" name="country">
                <option>All countries</option>
                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
              </select>  
            </div>
            <div class="col-12 col-sm-4 offset-lg-3 col-lg-3">
              <select class="form-control" id="type" name="type">
                <option>All types</option>
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
              </select>
            </div>
            <div class="col-12 col-sm-4 col-lg-3">
              <select class="form-control" id="subject" name="subject">
                <option>All subjects</option>
                <option *ngFor="let subject of subjects" [value]="subject">{{subject}}</option>
              </select>
            </div>
          </div>
          </form>
          <div class="row listbox-area">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-stripped table-font">
                  <thead class="thead-inverse">
                    <tr>
                      <th><input type="checkbox" name="checkList" id="checkList"></th>
                      <th>Hospital</th>
                      <th>Country</th>
                      <th>Type</th>
                      <th>Subject</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let member of members">
                      <td><input type="checkbox" [value]="member"></td>
                      <td>{{member.institution}}</td>
                      <td>{{member.country}}</td>
                      <td>{{member.type}}</td>
                      <td>{{member.subject}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row after-table-margin">
            <div class="col-6">
              <button role="button" class="btn btn-primary">Select all</button>
            </div>
            <div class="col-6 text-right">
              <p id="parts2">0 / 0 Hospital</p>
            </div> 
          </div>
        </div>
          
        <div class="modal-footer text-center">
          <div class="col-md justify-content-center">
            <button type="button" class="btn btn-primary">Done</button>
            <button type="submit" class="btn btn-primary" (click)="c('Close click')">Close</button>
          </div>
        </div>
      <!--</div>
    </div>-->
  
  <!--</div>-->
  </ng-template><!-- selectHospitalModal -->

  <div class="row form-group orderOption">
    <div class="col-12 col-sm-12 col-md-3">
      <select class="form-control">
        <option value="descentOrderbyRegisteration">Registration↓</option>
        <option value="ascentOrderByAge">Age↑</option>
        <option value="descentOrderByAge">Age↓</option>
        <option value="ascentOrderByWeight">Weight↑</option>
        <option value="descentOrderByWeight">Weight↓</option>
        <option value="ascentOrderByApex1">Apex1 angle↑</option>
        <option value="descentOrderByApex1">Apex1 angle↓</option>
      </select>
    </div>
    <div class="input-group col-12 col-sm-12 offset-md-1 col-md-8">
    <!--<div class="col-12 col-sm-6 offset-md-1 col-md-2">-->
      <select class="form-control">
        <option [value]="patientSex">All sex</option>
        <option *ngFor="let sex of sexes" [value]="patientSex">{{sex}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option [value]="patient_type"> All patient types</option>
        <option *ngFor="let patient_type of patient_types" [value]="patient_type">{{patient_type}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option [value]="risser"> All rissers</option>
        <option *ngFor="let risser of rissers" [value]="risser">{{risser}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option [value]="stage"> All stages</option>
        <option *ngFor="let stage of stages" [value]="stage">{{stage}}</option>
      </select>
    <!--</div>-->
    </div>
  </div><!-- row Order Option -->

  <div class="row listbox-area">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th><input type="checkbox" name="checkPatient" id="checkPatient"></th>
              <th>Hospital</th>
              <th>ID</th>
              <th>Birthday</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Sex</th>
              <th>Type</th>
              <th>Risser</th>
              <th>Apex1</th>
              <th>Apex2</th>
              <th>Apex3</th>
              <th>First visit</th>
              <th>Recent visit</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
              <td><input type="checkbox"  [value]="patient"></td>
              <td>{{patient.hospital}}</td>
              <td>{{patient.patientId}}</td>
              <td>{{patient.birthday}}</td>
              <td>{{patient.height}}</td>
              <td>{{patient.weight}}</td>
              <td>{{patient.sex}}</td>
              <td>{{patient.type}}</td>
              <td>{{patient.risser}}</td>
              <td>{{patient.apex1Start}}</td>
              <td>{{patient.apex2Start}}</td>
              <td>{{patient.apex3Start}}</td>
              <td>{{patient.patientVisit}}</td>
              <td>{{patient.patientVisit}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row after-table-margin">
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_edit();">EDIT</a>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_on();">REMOVE</a>
    </div>
    <div class="col-md">
    </div>
    <div class="col-12 col-sm-12 col-md-2 float-right">
      {{numPatientsInTable}} / {{numAllPatients}} Patients
    </div> 
  </div><!-- row table-edit -->
</div><!-- container -->