<div class="container-fluid">
  <!--
  <p>searchDateStart: {{searchDateStart | date:'yyyy-MM-dd'}}, searchDateEnd: {{searchDateEnd | date:'yyyy-MM-dd'}}</p>
  <p>optionFilterForm.value: {{optionFilterForm.value | json}}</p>
  -->
  <div class="row form-group orderOption">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="searchPrepend">Between</span>
        </div>
        <input type="date" class="form-control" id="searchDateStart" name="searchDateStart" max="searchDateEnd | date:'yyyy-MM-dd'"
          [ngModel]="searchDateStart | date:'yyyy-MM-dd'" (ngModelChange)="searchDateStart = $event">
        <input type="date" class="form-control" id="searchDateEnd" name="searchDateEnd" max="today | date:'yyyy-MM-dd'"
          [ngModel]="searchDateEnd | date:'yyyy-MM-dd'" (ngModelChange)="searchDateEnd = $event">
        <div class="input-group-append">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
      <form novalidate [formGroup]="optionFilterForm" (ngSubmit)="submitOptionFilter()">
        <div class="input-group">

          <select class="form-control" formControlName="sex">
            <option value="">All sex</option>
            <option *ngFor="let sex of sexes" [ngValue]="sex">{{sex}}</option>
          </select>

          <select class="form-control" formControlName="patientType">
            <option value="">All patient types</option>
            <option *ngFor="let patientType of patientTypes" [ngValue]="patientType">{{patientType}}</option>
          </select>

          <select class="form-control" formControlName="risser">
            <option value="">All rissers</option>
            <option *ngFor="let risser of rissers" [ngValue]="risser">{{risser}}</option>
          </select>

          <select class="form-control" formControlName="stage">
            <option value="">All stages</option>
            <option *ngFor="let stage of stages" [ngValue]="stage">{{stage}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-primary">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div><!-- row Order Option -->

  <div class="row listbox-area" *ngIf="patients">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th><input type="checkbox" name="checkPatient" id="checkPatient"></th>
              <!--
              <th *ngFor="let ck of columnKeys; let i = index" (click)="setOrder(ck)">
                {{columns[ck]}} <span class="{{(orderColumns[ck]) ? ((ascend) ? 'fa fa-caret-up' : 'fa fa-caret-down') : ''}}"></span>
              </th>
              -->
              <!--<th>Patient ID</th>-->
              <th>Name</th>
              <th>Birthday</th>
              <th>Sex</th>
              <th>Type</th>
              <th>Risser</th>
              <th>Stage</th>
              <th>Apex1</th>
              <th>Apex2</th>
              <th>Apex3</th>
              <th>Last Visit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patientsInTable; let i = index; let even = even; let odd = odd"
              [ngClass]="{ odd: odd, even: even }">
              <td><input type="checkbox" [value]="patient"></td>
              <!--
              <td *ngFor="let ck of columnKeys" [routerLink]="['/admin/patients', patient.id]" appHighlight>{{patient[ck]}}</td>
              -->
              <!--<td>{{patient.patientId}}</td>-->
              <td><a [routerLink]="['/patient', patient._id]" appHighlight>{{patient.firstname}} {{patient.lastname}}</a></td>
              <!--<td>{{patient.firstname}} {{patient.lastname}}</td>-->
              <td>{{patient.birthday | date}}</td>
              <td>{{patient.sex}}</td>
              <td>{{patient.spineInfos[numSpineInfos[i]-1].type}}</td>
              <td>{{patient.spineInfos[numSpineInfos[i]-1].risser}}</td>
              <td>{{patient.spineInfos[numSpineInfos[i]-1].stage}}</td>
              <td>{{patient.spineInfos[numSpineInfos[i]-1].apexStart1}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng1}}-{{patient.spineInfos[numSpineInfos[i]-1].apexEnd1}} {{patient.spineInfos[numSpineInfos[i]-1].direction1}}</td>
              <!--
              <td *ngIf="patient.spineInfos[numSpineInfos[i]-1].apexStart2">{{patient.spineInfos[numSpineInfos[i]-1].apexStart2}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng2}}-{{patient.spineInfos[numSpineInfos[i]-1].apexEnd2}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td *ngIf="patient.spineInfos[numSpineInfos[i]-1].apexStart3">{{patient.spineInfos[numSpineInfos[i]-1].apexStart3}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng3}}-{{patient.spineInfos[numSpineInfos[i]-1].apexEnd3}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              -->
              <td>{{patient.spineInfos[numSpineInfos[i]-1].apexStart2}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng2}}-{{patient.spineInfos[numSpineInfos[i]-1].apexEnd2}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td>{{patient.spineInfos[numSpineInfos[i]-1].apexStart3}}-{{patient.spineInfos[numSpineInfos[i]-1].cobbAng3}}-{{patient.spineInfos[numSpineInfos[i]-1].apexEnd3}} {{patient.spineInfos[numSpineInfos[i]-1].direction3}}</td>
              <td>{{patient.updatedAt | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row after-table-margin">
    <!--
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_edit();">EDIT</a>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_on();">REMOVE</a>
    </div>
    -->
    <div class="col-md">
    </div>
    <div class="col-12 col-sm-12 col-md-2 float-right">
      {{numPatientsInTable}} / {{numAllPatients}} Patients
    </div> 
  </div><!-- row table-edit -->
</div><!-- container -->