<div class="container-fluid">
  <div class="row form-group orderOption">
    <div class="col-12 col-sm-12 col-md-3">
      <select class="form-control">
        <option value="descentOrderbyRegisteration">Registration↓</option>
        <option value="ascentOrderByAge">Age↑</option>
        <option value="descentOrderByAge">Age↓</option>
        <option value="ascentOrderByWeight">Weight↑</option>
        <option value="descentOrderByWeight">Weight↓</option>
        <option value="ascentOrderByApex1">Apex1 angle↑</option>
        <option value="descentOrderByApex1">Apex1 angle↓</option>
      </select>
    </div>
    <div class="input-group col-12 col-sm-12 offset-md-1 col-md-8">
    <!--<div class="col-12 col-sm-6 offset-md-1 col-md-2">-->
      <select class="form-control">
        <option>All sex</option>
        <option *ngFor="let sex of sexes" [value]="patientSex">{{sex}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option> All patient types</option>
        <option *ngFor="let patientType of patient_types" [value]="patientType">{{patientType}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option> All rissers</option>
        <option *ngFor="let risser of rissers" [value]="risser">{{risser}}</option>
      </select>
    <!--</div>-->
    <!--<div class="col-12 col-sm-6 col-md-2">-->
      <select class="form-control">
        <option> All stages</option>
        <option *ngFor="let stage of stages" [value]="stage">{{stage}}</option>
      </select>
    <!--</div>-->
    </div>
  </div><!-- row Order Option -->

  <div class="row listbox-area">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th><input type="checkbox" name="checkPatient" id="checkPatient"></th>
              <th>Hospital</th>
              <th>ID</th>
              <th>Birthday</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Sex</th>
              <th>Type</th>
              <th>Risser</th>
              <th>Apex1</th>
              <th>Apex2</th>
              <th>Apex3</th>
              <th>First visit</th>
              <th>Recent visit</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
              <td><input type="checkbox"  [value]="patient"></td>
              <td>{{patient.hospital}}</td>
              <td>{{patient.patientId}}</td>
              <td>{{patient.birthday}}</td>
              <td>{{patient.height}}</td>
              <td>{{patient.weight}}</td>
              <td>{{patient.sex}}</td>
              <td>{{patient.type}}</td>
              <td>{{patient.risser}}</td>
              <td>{{patient.apex1Start}}</td>
              <td>{{patient.apex2Start}}</td>
              <td>{{patient.apex3Start}}</td>
              <td>{{patient.patientVisit}}</td>
              <td>{{patient.patientVisit}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row after-table-margin">
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_edit();">EDIT</a>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_on();">REMOVE</a>
    </div>
    <div class="col-md">
    </div>
    <div class="col-12 col-sm-12 col-md-2 float-right">
      {{numPatientsInTable}} / {{numAllPatients}} Patients
    </div> 
  </div><!-- row table-edit -->
</div><!-- container -->