<div class="container-fluid" *ngIf="patient">
  <div class="row mb-4 align-items-center">
    <div class="col-12 col-sm-3">
      <h2>Patient Information</h2>
    </div>
    <div class="col-12 col-sm-7">
      <div>
        <span>Last update: {{ patient.updatedAt | date}}</span>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <button type="button" class="btn btn-primary btn-block btn-sm" (click)="orderBrace()">
        Order Braces
      </button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <h4>Profile</h4>
    </div>
  </div> -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th>Organization</th>
              <th>Patient Id</th>
              <th>Name</th>
              <th>Birthday</th>
              <th>Sex</th>
              <th>Curve Progression</th>
              <th>Wering Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{patient.organization.name}}</td>
              <td>{{patient.hashKey}}</td>
              <td>{{patient.lastname}} {{patient.firstname}}</td>
              <td>{{patient.birthday | date}}</td>
              <td>{{patient.sex}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- profile table size -->

  <div class="row align-items-center">
    <div class="col-10">
      <h4>Body Size</h4>
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-block btn-sm" (click)="openBodyMeasureModal()">
        Add new
      </button>
    </div>
  </div>
  <div class="row  mb-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th>Updated By</th>
              <th>Date</th>
              <th>Height</th>
              <th>Weight</th>
              <th>Shoulder</th>
              <th>Bust</th>
              <th>Waist</th>
              <th>Hip</th>
              <!--
              <th>Lumber</th>
              <th>Lumber Height</th>
              -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bdSz of patient.bodyMeasurements">
              <td>{{bdSz.updatedBy.firstname}} {{bdSz.updatedBy.lastname}}</td>
              <td>{{bdSz.createdAt | date}}</td>
              <td>{{bdSz.height}}</td>
              <td>{{bdSz.weight}}</td>
              <td>{{bdSz.shoulder}}</td>
              <td>{{bdSz.bust}}</td>
              <td>{{bdSz.waist}}</td>
              <td>{{bdSz.hip}}</td>
              <!--
              <td>{{bdSz.lumber}}</td>
              <td>{{bdSz.lumberHeight}}</td>
              -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- body size table -->

  <div class="row align-items-center">
    <div class="col-10">
      <h4>Spine Prescription</h4>
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-block btn-sm" (click)="openSpineDiagModal()">
        Add new
      </button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th>Updated By</th>
              <th>Date</th>
              <th>Type</th>
              <th>Risser</th>
              <th>Apex1</th>
              <th>Apex2</th>
              <th>Apex3</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let spInfo of patient.spineInfos">
              <td>{{spInfo.updatedBy.firstname}} {{spInfo.updatedBy.lastname}}</td>
              <td>{{spInfo.createdAt | date}}</td>
              <td>{{spInfo.type}}</td>
              <td>{{spInfo.risser}}</td>
              <td>{{spInfo.curveStart1}}-{{spInfo.cobbAng1}}-{{spInfo.curveEnd1}} {{spInfo.direction1}} {{spInfo.major1 ? 'M' : ''}}</td>
              <td>{{spInfo.curveStart2}}-{{spInfo.cobbAng2}}-{{spInfo.curveEnd2}} {{spInfo.direction2}} {{spInfo.major2 ? 'M' : ''}}</td>
              <td>{{spInfo.curveStart3}}-{{spInfo.cobbAng3}}-{{spInfo.curveEnd3}} {{spInfo.direction3}} {{spInfo.major3 ? 'M' : ''}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-10">
      <h4>Diagnosis</h4>
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-block btn-sm" (click)="openDiagnosisModal(addNewDiagnosis)">
        Add new
      </button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th>Updated By</th>
              <th>Date</th>
              <th>Dignosis</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of patient.comments">
              <td>{{comment.updatedBy.firstname}} {{comment.updatedBy.lastname}}</td>
              <td>{{comment.createdAt | date}}</td>
              <td>{{comment.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12">
          <h3>X-ray images</h3>
        </div>
        <div class="col-12 table-responsive">
          <table class="table table-stripped table-font">
            <thead>
              <th>Updated By</th>
              <th>Day</th>
            </thead>
            <tbody>
              <tr *ngFor="let xr of patient.xRayFiles">
                <td>{{xr.updatedBy.firstname}} {{xr.updatedBy.lastname}}</td>
                <td>{{xr.createdAt | date}}</td>
              </tr>
            </tbody>
            
          </table>
        </div>
      </div>
      <div class="form-group row">
        <label for="xRayFile" class="col-12 col-sm-4 col-form-label">Add New X-Ray File</label>
        <div class="col-12 col-sm-8">
          <input type="file" class="form-control-file" id="xRayFile">
        </div>
      </div>
    </div><!--X-ray image table -->
    
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12">
          <h3>3D images</h3>
        </div>
        <div class="col-12 table-responsive">
          <table class="table table-stripped table-font">
            <thead>
              <th>Updated By</th>
              <th>Day</th>
            </thead>
            <tbody>
              <tr *ngFor="let three of patient.threeDFiles">
                <td><input type="checkbox" name="checkXray" id="checkXray"></td>
                <td>{{three.updatedBy.firstname}} {{three.updatedBy.lastname}}</td>
                <td>{{three.createdAt | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-group row">
        <label for="3dScanFile" class="col-12 col-sm-4 col-form-label">Add New 3D File</label>
        <div class="col-12 col-sm-8">
          <input type="file" class="form-control-file" id="3dScanFile">
        </div>
      </div>
    </div>
  </div><!--3D image table -->
</div><!-- container -->
<!--
<div [hidden]="patient || patientErrMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
-->
<div *ngIf="patientErrMess">
  <h2>Error</h2>
  <h4>{{patientErrMess}}</h4>
</div>

<app-add-bodymeasurement-modal [patient]="patient"
                               (updatedPatient)="updatePatient($event)">
</app-add-bodymeasurement-modal>

<app-add-spineprescription-modal [patient]="patient"
                                 (updatedPatient)="updatePatient($event)">
</app-add-spineprescription-modal>

<app-add-diagnosis-modal [patient]="patient"
                         (updatedPatient)="updatePatient($event)">
</app-add-diagnosis-modal>