<div class="container">
  <!--
  <p>orgForm.value: {{orgForm.value | json}}</p>
  <p>formErrors: {{formErrors | json}}</p>
  <p>orgForm.valid: {{orgForm.valid}}</p>
  -->
  <div class="row">
    <form class="col-12 text-right" novalidate [formGroup]="orgForm" (ngSubmit)="submitOrganization()" *ngIf=!(showOrganizationInfo)>

      <div class="form-group row align-items-center mb-3">
        <label for="username" class="col-3 col-form-label">Organization Name*</label>
        <div class="col-9">
          <input type="text" class="form-control {{(formErrors.name) ? 'is-invalid' : ''}}" id="name" placeholder="Enter organzation name" formControlName="name">
          <div class="invalid-feedback">{{formErrors.username}}</div>
        </div>
      </div>

      <div class="form-group row align-items-center mb-3">
        <label for="country" class="col-3 col-form-label">Country*</label>
        <div class="col-9">
          <select id="country" class="form-control {{(formErrors.country) ? 'is-invalid' : ''}}" formControlName="country">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            <div class="invalid-feedback">{{formErrors.country}}</div>
          </select>
        </div>
      </div>

      <div class="form-group row align-items-center mb-3">
        <label for="firstname" class="col-3 col-form-label">Type*</label>
        <div class="col-9">
          <select id="type" class="form-control {{(formErrors.type) ? 'is-invalid' : ''}}" formControlName="type">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
            <div class="invalid-feedback">{{formErrors.type}}</div>
          </select>
        </div>
      </div>

      <div class="form-group row mb-3">
        <div class="col-12 text-center">
          <button type="submit" class="btn {{orgForm.valid ? 'btn-primary' : 'btn-secondary'}}" id="submitOrganization" [disabled]="orgForm.invalid">
            Save
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="showOrganizationInfo">
      <h3>New organization information</h3>
      <p>Name: {{newOrganization.name}}</p>
      <p>Country: {{newOrganization.country}}</p>
      <p>Type: {{newOrganization.type}}</p>

    </div>

  </div>

</div><!-- container -->