.row{
    &:nth-child(1){
        .col-12{
            display: flex;
            padding:40px 0px 45px 0px;

            i{
                color: #bcbcbc;
            }
            span{
                font-size: 20px;
                color: #bcbcbc;
            }

            i{
                margin:0px 25px;
                font-size: 18px;
            }

            div:nth-child(1){
                span{
                    color: #000000;
                }
                i{
                    color: #000000;
                }
            }

            div:nth-child(2){
                span{
                    color: #0275d8;
                }
                i{
                    color: #0275d8;
                }
            }
        }
    }

    &:nth-child(2){
        .col-12{
            display: flex;
            padding: 0px 0px 40px 0px;
    
            h3{
                font-size: 20px;
                margin-bottom: 0px;
            }

            span{
                font-size: 14px;
                color: #999999;
                align-self: center;
                margin: 0px 10px;
            }
        }
    }

    &:nth-child(4){
        padding-bottom: 40px;
        .col-3:first-child{padding-left:0px;}
        .col-3:last-child{padding-right: 0px;}
        button{
            text-transform: uppercase;
        }
    }
}

form{
    .row{
        &:nth-child(1){
            .col-3{
                padding: 0px;
            }
        }
    }
    
    .form-group:nth-child(2){
        padding-top: 40px;
    }

    .form-group{
        
        .col-2:nth-child(2){
            padding-right: 0px;
        }

        &:nth-child(1){
            .col-4:first-child{padding-left:0px;}
            .col-4:last-child{padding-right:0px;}
        }
        &:nth-child(2){
            .col-3{
                &:nth-child(1){
                    padding-left: 0px;
                    .row .col-4 .form-check{
                        padding-left: 21px;    
                    }
                }

                padding-left: 30px;
                padding-right: 30px;
                border-right: 1px solid #eeeeee;
            }        
        }
        &:nth-child(3){
            .col-3{
                padding: 0px;
            }
        }

        &:nth-child(4){
            padding-bottom: 0px;
            .col-4:first-child{padding-left:0px;}
            .col-4:last-child{padding-right:0px;}
        }
        &:nth-child(5){
            .col-2{padding-right: 0px;}
        }
        &:nth-child(6){
            .col-12{padding: 0px;}
        }
        &:nth-child(7){
            .col-12{padding:0px;}
        }
        &:last-child{
            .form-control-file{
                width: auto;
            }
        }
    }
    .col-3{
        h5{
            font-size: 18px;
        }
    }
}
// .form-check-input[type="radio"]:checked + label:before {
.form-check-input{
    position:relative;
    width:13px;
    height:13px;
    top:-1px;
    left:2px;
    margin-right: 10px;
}
.form-check-input[type="radio"]:checked + label:before{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1px;
    top: 5px;
    content: '';
    border: 1px solid #ddd;
    border-radius: 100%;
    background: green;
}

.input-group-text{
    input[type="radio"]:checked{
        &:before{
            position: absolute;
            width: 16px;
            height: 16px;
            left: 12px;
            top: 13px;
            content: '';
            border: 1px solid #ddd;
            border-radius: 100%;
            background: green;
        }
    }
}
