<nav class="navbar navbar-expand-sm navbar-light user-navbar-bg fixed-top">
  <div class="container-fluid">    
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" aria-expanded="false" (click)="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/" (click)="navbarCollapsed = true"><img src="/assets/images/mail_logo1.jpg" style="width:60%"></a>
    </div>
    
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/home"> List Patients</a></li>
        <!--<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin/list-hospitals"> List Hospitals</a></li>-->
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/register-patient"> Register a Patient</a></li>
        <!--<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin/register-hospital"> Register a Hospital</a></li>-->
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/user-info"> My info</a></li>
        <!--<li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/#"><span class="fa fa-sign-out"></span> Logout</a></li>-->
      </ul>

      <span class="navbar-text">
        {{user}} 님 환영합니다.
      </span>
      <a class="nav-link" (click)="logOut()"><span class="fa fa-sign-out"></span> Logout</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- container -->
</nav><!-- nav -->
