<div class="container-fluid">
  <div class="row form-group orderOption">
    <div class="col-12 col-sm-12 col-md-3">
      <select class="form-control">
        <option *ngFor="let country of countries">{{country}}</option>
      </select>
    </div>  
    <div class="col-12 col-sm-6 offset-md-5 col-md-2">
      <select class="form-control">
        <option value="">Type all</option>
        <option *ngFor="let type of types">{{type}}</option>
      </select>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <select class="form-control">
        <option value="">Subject all</option>
        <option *ngFor="let subject of subjects">{{subject}}</option>
      </select>
    </div>
  </div><!-- row Order Option -->

  <div class="row listbox-area">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-stripped table-font">
          <thead class="thead-inverse">
            <tr>
              <th><input type="checkbox" name="memberAll" id="memberAll"></th>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Institution</th>
              <th>Subject</th>
              <th>Type</th>
              <th>Country</th>
              <th>City</th>
              <th>Address</th>
              <th># of patients</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members">
              <th><input type="checkbox" [value]="member"></th>
              <td>{{member.id}}</td>
              <td>{{member.firstname}}</td>
              <td>{{member.lastname}}</td>
              <td>{{member.institution}}</td>
              <td>{{member.subject}}</td>
              <td>{{member.type}}</td>
              <td>{{member.country}}</td>
              <td>{{member.city}}</td>
              <td>{{member.address}}</td>
              <td>{{numAllPatients}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="row after-table-margin">
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_edit();">EDIT</a>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <a role="button" class="btn btn-primary btn-block" href="javascript:v_on();">REMOVE</a>
    </div>
    <div class="col-md">
    </div>
    <div class="col-12 col-sm-12 col-md-2 float-right">
      {{numAllPatients}} / {{numAllHospitals}}
    </div> 
  </div><!-- row table-edit -->
</div><!-- container -->