<ng-template #bodyMeasureModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New Body Measurement</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><!-- modal header -->

  <div class="modal-body">
    <form novalidate [formGroup]="bodyMeasureForm" (ngSubmit)="submitBodyMeasurement()">
      <div class="form-group row">
        <label for="height" class="col-12 col-sm-3 col-form-label">Height</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.height) ? 'is-invalid' : ''}}" id="height" name="height"
            placeholder="cm" formControlName="height" pattern="[0-9]*">
          <div class="invalid-feedback">{{bodyMeasureFormErrors.height}}</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="weight" class="col-12 col-sm-3 col-form-label">Weight</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.weight) ? 'is-invalid' : ''}}" id="weight" name="weight"
            placeholder="kg" formControlName="weight" pattern="[0-9]*">
            <div class="invalid-feedback">{{bodyMeasureFormErrors.weight}}</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="shoulder" class="col-12 col-sm-3 col-form-label">Shoulder</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.shoulder) ? 'is-invalid' : ''}}" id="shoulder" name="shoulder"
            placeholder="cm" formControlName="shoulder" pattern="[0-9]*">
          <div class="invalid-feedback">{{bodyMeasureFormErrors.shoulder}}</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="bust" class="col-12 col-sm-3 col-form-label">Bust</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.bust) ? 'is-invalid' : ''}}" id="bust" name="bust"
            placeholder="cm" formControlName="bust" pattern="[0-9]*">
          <div class="invalid-feedback">{{bodyMeasureFormErrors.bust}}</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="waist" class="col-12 col-sm-3 col-form-label">Waist</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.waist) ? 'is-invalid' : ''}}" id="waist" name="waist"
            placeholder="cm" formControlName="waist" pattern="[0-9]*">
          <div class="invalid-feedback">{{bodyMeasureFormErrors.waist}}</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="hip" class="col-12 col-sm-3 col-form-label">Hip</label>
        <div class="col-12 col-sm-9">
          <input type="text" class="form-control {{(bodyMeasureFormErrors.hip) ? 'is-invalid' : ''}}" id="hip" name="hip" 
            placeholder="cm" formControlName="hip" pattern="[0-9]*">
          <div class="invalid-feedback">{{bodyMeasureFormErrors.hip}}</div>
        </div>
      </div>
    </form>
  </div><!-- modal body -->

  <div class="modal-footer text-center">
    <div class="col-md justify-content-center">
      <button type="button" class="btn {{bodyMeasureForm.valid ? 'btn-primary' : 'btn-secondary'}}"
        [disabled]="bodyMeasureForm.invalid" (click)="submitBodyMeasurement()">
        Submit
      </button>
      <button type="submit" class="btn btn-primary" (click)="c('Close click')">Cancel</button>
    </div>
  </div><!-- modal footer -->
</ng-template>