.ict-login{
    &-container{
        position: relative;
        width: 100%;
        height:calc(100vh - 123px);
        top: 64px;
        
        .row{
            height: 100%;
        }
    }

    &-input{
        margin: 8px 0px;
        padding:10px 15px;
    }

    &-module{
        display: flex;
        flex-direction: column;
        align-self: center;        
    }
    &-find{
        margin-left: 25%;
        margin-right: 25%;
        justify-content: flex-end;
        a{
            margin: 0px 8px;
        }
    }

    &-contact{
        font-size: 14px;

        .mt-5{
            span, a{padding:0px 4px;}
        }
    }
    &-btn{
        padding-left: 7px;
        padding-right: 7px;
    }
}

.form-control{
    &:focus{
        border-color: inherit;
        box-shadow: inherit;
        -web-kit-box-shadow: inherit;
    }
}